.App {
  text-align: center;
  height: 100%;
}

.App-body {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  height: 20vh;
}

.navbar {
  height: 13vh;
  background-color: #083451;
  border-bottom: 4px solid #f3f3f4;
  
}

Button {
  border-radius: 1px solid red;
}

.sectionWrapper {
  width: 100%;
  text-align: center;
  text-justify: center;

}

.sectionContent {
  text-align: center;
  top: auto;
  left: auto;
}

.sectionWrapper {
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.sectionWrapper:nth-child(1){
  height: 88vh;
  background: rgba(173, 216, 230, 0.801);
}
.sectionWrapper:nth-child(2){
  background: rgba(44, 75, 95, 0.2);
}
.sectionWrapper:nth-child(3){
  background: rgb(43, 67, 96);
}
.sectionWrapper:nth-child(4){
  background: rgb(36, 71, 86);
}

.Button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color:rgba(16, 45, 64, 0.29);
  border-radius: 50%;
}